---
layout: home
main_image_path: /assets/images/close-uo.jpg
main_image_caption:
thumb_crop: true
show_carousel: false
carousel:
  - image:
    caption:
    alink:
show_blog: false
posts_number: 1
_options:
  layout:
    hidden: true
  image_path:
    uploads_dir: assets/images/:year
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  main_image_path:
    uploads_dir: assets/images/:year
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  content:
    uploads_dir: assets/:year
_comments:
  main_image_path: Cover image
  main_image_caption: Alt text for cover image
  carousel: Edit the slideshow
  show_carouse: Show the slideshow
  show_blog: Show your latest posts on the homepage
  posts_number: How many posts to show
  alink: Optional web link from the slide
  caption: optional caption
---

<div class="editable">

</div>

<section class="gallery--list">

{% assign items = site.gallery | sort: 'frontpageorder' %}

{% for gallery in items %}

  {% if gallery.frontpage %}

    <div class="gallery--box">

      <a href="{{ gallery.permalink }}" class="gallery--link">

      {% include img.html src=gallery.main_image_path width=400 height=400 fit=crop alt=thisimage.image_title %}

      <figcaption class="gallery--caption">{{ gallery.title }}</figcaption>

      </a>

    </div>

    {% endif %}

  {% endfor %}


</section>

