---
layout: home
main_image_path: /assets/images/close-uo.jpg
main_image_caption:
show_blog: false
posts_number: 1
show_carousel: false
carousel:
  - image:
    caption:
    alink:
_options:
  layout:
    hidden: true
  image_path:
    uploads_dir: assets/images/:year
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  main_image_path:
    uploads_dir: assets/images/:year
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  content:
    uploads_dir: assets/:year
_comments:
  main_image_path: Cover image
  main_image_caption: Alt text for cover image
  carousel: Edit the slideshow
  show_carouse: Show the slideshow
  show_blog: Show your latest posts on the homepage
  posts_number: How many posts to show
  alink: Optional web link from the slide
  caption: optional caption
---

<div class="editable">

</div>

<section class="gallery--list">
{% for gallery in site.gallery %}



    {% if gallery.main_image_path %}
      <section class="gallery--cover has--cover" style="background-image: url({{ gallery.main_image_path }});">
    {% else %}
      <section class="gallery--cover has--cover" style="background-image: url('https://placekitten.com/g/1200/300');">
    {% endif %}

      <a href="{{ gallery.permalink | prepend: site.baseurl }}">

        <div class="scrim has--cover">
          <article class="gallery--front">
            <header class="gallery--header">
              <h2 class="cover--title mb0">{{ gallery.frontpagetitle }}</h2>
            </header>
            {% if gallery.homepage_description_markdown %}
              {{ gallery.homepage_description_markdown | markdownify }}
              <span class="post--readmore">Read more <span> <svg class="icon icon--post"><use xlink:href="#icon-double_angle_right" /></svg></span>

            {% endif %}
        </span>
      </article>
      </div>
      </a>
    </section>


{% endfor %}
</section>

