.page--content {
  max-width: 1200px;
  width: 100%;
}

.page {
   padding: 0 1em 1em;

  @include grid-media ($small) {
    padding: 1em;
  }
}

.page--header {
  padding-bottom: 1.5em;
}
.page--title {
  margin-bottom: 0.2em;
  text-align: center;
}
