
/// SVG icons
.icon {
    display: inline-block;
    width: 50px;
    height: 50px;
}
a:hover .icon,
a:active .icon { /// hover colour
    fill: $action-hover-color;
}
.icon--readmore {
    fill: $white;
    margin-bottom: -5px;
    width: 20px;
    height: 20px;
}
.icon--post {
    fill: $action-color;
}
.icon--inactive {
    fill: $medium-gray;
}
.icon--logo {
    fill: $highlight-color;
    width: 20px;
    height: 20px;
}
.icon-facebook_sign { fill: $black; }
.icon-instagram { fill: $black; }
.icon-twitter_sign { fill: $black; }
.icon-youtube { fill: $black; }
.icon-soundcloud { fill: $black; }
.icon-vimeo_square { fill: $black; }
.icon-pinterest { fill: $black; }

/// vertical align SVG icons in the centre
a svg {
    display: inline-block;
    vertical-align: middle;
}
.icon--light {
    fill: $white;
}
a:hover .icon--light { /// hover colour
    fill: shade($white, 20%);
}